.form-panel {
	margin: 10px 0;
}

.form-text {
	vertical-align: middle;
	border: 0.5pt dotted black;
}

.form-text+.form-text {
	border-top: none;
}

.form-text label {
  	padding: 2px 3px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
	width: 50%;
	display: inline-block;
	height: auto;
}

.form-value {
  	padding: 2px 3px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
	display: inline-block;
}

.form-page table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #000;
	margin: 40px auto;
	width: 100%;
}

.form-page th {
	padding: 2px 7px;
	border-bottom: 3px solid #ddd;
}

.form-page tbody td {
	border-bottom: 1px solid #ddd;
}

.form-description {
	display: block;
}

.form-items span {
	padding: .5em
}

.form-footer {
    font-style: italic;
	margin-top: 8px;
	width: 100%;
}