.form-page{
  padding: 5px;
  font-family: sans-serif;
}
  
.form-pageTitle {
 padding: 5px 20px 20px 0;
 text-align: left;
 color: lightslategrey;
 font-size: 35px;
}

.form-panelTitle {
 text-align: left;
 color: lightslategrey;
 font-size: 28px;
}

.form-panel {
  border: 6px solid #f1f5f8;
  border-radius: 5px;
  padding: 5px 10px;
    margin: 10px 0;
}

.form-text {
  padding: 0 6px;
  line-height: 50px; 
  font-size: 21px;
  vertical-align: middle;
}

.form-text label {
  padding: 0 7px;
  text-align: left;
  width: 50%;
  display: inline-block;
}

.form-value {
  padding: 0 7px;
  margin-left: -7px;
  width: 40%;
  display: inline-block;
  border: 1px solid #ebedef;
}

.form-page table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #f1f5f8;
  margin: 40px auto;
  border-radius: .25rem;
  width: 100%;
}

.form-page th {
  font-weight: 500;
  padding: 2px 7px;
  border-bottom: 3px solid #ddd;
}

.form-page tbody td {
  padding: 2px 7px;
  border-bottom: 1px solid #ddd;
}

.form-description {
  font-size: 15px;
  display: block;
  margin-left: 7px;
  line-height: 35px;
}

.form-items span {
  padding: .5em
}

footer {
  padding: 0 10px;
  margin-top: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}